<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ARQUIVO_BANCO" value="HABITASORTE.SDF"/>
    <add key="ARQUIVO_SCRIPT" value="SQL.TXT"/>

    <add key="PUBLICACAO_URL" value="?"/>
    <add key="PUBLICACAO_CODIGO" value="?"/>
    <add key="PUBLICACAO_USUARIO" value="?"/>
    <add key="PUBLICACAO_SENHA" value="?"/>
  </appSettings>
</configuration>